<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Triangles</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>TRIANGLES WOW</h1>
      <form action='/answer'>
        <div class="form-group">
          <label for="side1">Side 1</label>
          <input type="text" name="side1" id="side1" class="form-control">
        </div>
        <div class="form-group">
          <label for="side2">Side 2</label>
          <input type="text" name="side2" id="side2" class="form-control">
        </div>
        <div class="form-group">
          <label for="side3">Side 3</label>
          <input type="text" name="side3" id="side3" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">What kind is it?</button>
      </form>
    </div>
  </body>
</html>
